body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, "Arial Rounded";
    font-size: 0.35cm;
}

.container {
    display: flex;
    flex-direction: column;
}

.keyboard {
    transform: perspective(28.4cm) rotateX(20deg);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 1cm;
    margin: 20px;
    width: 28.4cm;
    height: 11.6cm;
    background: #bec4c6;
    /* not selectable text */
    -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; cursor: default;

    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.03, #ededed), color-stop(0.08, #ffffff), color-stop(0.30, #dbdbdb), color-stop(0.64, #bdbcbc), color-stop(0.95, #606060a5), color-stop(1,#464646a5) ); 
    -webkit-box-shadow: inset 0px 0px 1px #d3d3d3, 0 1px 0 #807f7f, 0px -1px 0px #b6b6b6, -1px 0px 0px #b6b6b6, 10px -5px 20px #e0e0e0, 0 4px 0 #878787, 0 15px 20px #9d9d9d;
    -moz-box-shadow: inset 0px 0px 1px #d3d3d3, 0 1px 0 #807f7f, 0px -1px 0px #b6b6b6, -1px 0px 0px #b6b6b6, 10px -5px 20px #e0e0e0, 0 4px 0 #878787, 0 15px 20px #9d9d9d;
    box-shadow: inset 0px 0px 1px #d3d3d3, 0 1px 0 #807f7f, 0px -1px 0px #b6b6b6, -1px 0px 0px #b6b6b6, 10px -5px 20px #e0e0e0, 0 4px 0 #878787, 0 15px 20px #9d9d9d;
}

ul {
    border: solid 1px transparent;
    list-style-type: none;
    margin: 0.30cm 0cm 0cm 0.3cm;
    padding: 0;
    height: 1.53cm;
    line-height: 1.53cm;
}

li {
    border: solid 1px rgb(153, 153, 153);
    border-radius: 0.15cm;
    background: #eaeaea;
    float: left;
    width: 1.6cm;
    height: 1.53cm;
    margin-right: 0.28cm;
    text-align: center;
    color: #82847f;
    text-shadow: 0 0.3cm 0.4cm rgb(255, 255, 255), 1px 1px 1px rgb(252, 252, 252);

    -webkit-box-shadow: inset 0 0 25px #ffffff,  0 2px 0 #6c6c6c, 1px 3px 0 #484848, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    -moz-box-shadow: inset 0 0 25px #ffffff,  0 2px 0 #6c6c6c, 1px 3px 0 #484848, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    box-shadow: inset 0 0 25px #ffffff,  0 2px 0 #6c6c6c, 1px 3px 0 #484848, 0 2px 0 #c9c9c9, 0 2px 3px #333;
}

/* li style: special keys including space bar, esc  */
.esc        { width: 2.56cm; border-top-left-radius: 0.7cm; }
.tab        { width: 2.58cm; }
.fnLast     { border-top-right-radius: 0.7cm; }
.last-key       { margin-right: 0; }
.backspace  { width: 2.58cm; }
.capsLock   { width: 3.05cm; }
.enter      { width: 3.05cm; }
.shift      { width: 2.1cm; }
.right-shift { width: 4cm; }
.lang       { border-bottom-left-radius: 0.7cm;}
.space-bar   { width: 9.3cm; }
.right      { border-bottom-right-radius: 0.7cm; }
.command    { width: 2.1cm; font-size: 0.35cm; padding: 0; vertical-align: text-bottom; }

.number-keys, .alpabets-qwe, .alpabets-asd, .alpabets-yxc, .control-keys { margin-top: 0.29cm;}

li:active, .keydown, ul.printable li:not([class]):active {
    background: radial-gradient(at 40% 1%, #c4c4c4 5%, rgb(214, 217, 214) 70%);
    border: solid 1px #8e8e8e;
    margin: 0.05cm 0.28cm 0cm 0cm;
    color: #888;
    -webkit-box-shadow: inset 1px 1px 20px #c4c4c4, 0 1px 3px #333, 0 -1px 1px #545454;
    -moz-box-shadow: inset 1px 1px 20px #c4c4c4, 0 1px 3px #333, 0 -1px 1px #545454;
    box-shadow: inset 0 -1px 0px #f4f4f4, 0 1px 3px #333, 0 -1px 1px #363636, 0 1px 1px #494949;
}

/* printable key has a groov */
ul.printable li:not([class]) {
    background: radial-gradient(at 40% 1%, rgb(213, 213, 213) 5%, #ffffff 70%);
}

/* ul.printable li:active:not([class]) {
    background: radial-gradient(at 40% 1%, rgb(214, 217, 214) 5%, #ebeced 70%);
} */

li > div div{
    border: solid 1px rgba(0, 0, 0, 0);
    font-size: 0.5cm;
}

.aType { display: grid; grid-template-columns: repeat(1, 1fr); }
.qType { display: grid; grid-template-columns: repeat(2, 1fr); }
/* Y, X... is located in top right on a key */ 
.de1 { line-height: 0.5cm; text-align: right; padding-right: 0.2cm; padding-top: 0.1cm; margin-top: 0.1cm }
 /* ㅋ, ㅌ,... is located in bottom left on a key */ 
.ko1 {line-height: 0.3cm; margin-top: 0.2cm; vertical-align: middle; text-align: left; padding-left: 0.15cm; }
 /* ㅕ,ㅑ, ㅐ, needs to shift to the left */ 
.vowel {padding-left: 0.1cm; margin-top: 0.1cm; }
/* ㅃ, ㅂ, ㅉ, ㅈ is located in left on a key */
.ko2 { margin-top: 0.1cm; width: 0.7cm; line-height: 0.6cm; vertical-align: bottom; }
 /* Y, X... is located in top right on a key */
.qType .de1 { width: 0.6cm; }

 /* Fn key Group: two symbols are located in vertically */
li.esc>div { font-size: 0.35cm; line-height: 0.3cm; margin-top: 1cm; margin-left: 0.3cm; text-align: left; }
ul.function-keys > li > div { display: grid; grid-template-columns: repeat(1, 1fr); }
.symbol { height:0.6cm; line-height: 0.6cm; text-align: center; margin-top: 0.2cm; }
.fn { font-size: 0.3cm; line-height: 0.6cm; text-align: center; }

/* eject key on top*/
div.eject {line-height: 0.3cm; margin-top: 0.5cm;  }

/* Number key group: two symbols are located in vertically */
ul.number-keys > li > div { display: grid; grid-template-columns: repeat(1, 1fr); }
.upper-part {margin-top: 0.4cm; line-height: 0.1cm; text-align: center; }
.lower-part {margin-top: 0.3cm; line-height: 0.5cm; text-align: center; }

li.backspace>div { line-height: 0.3cm; margin-top: 0.8cm; margin-left: 1.45cm; }
li.tab > div { line-height: 0.3cm; margin-top: 0.85cm; margin-right: 1.5cm; }

li.capsLock > div { display: grid; grid-template-columns: repeat(1, 1fr); }
li.capsLock div.lower-part {font-size: 0.4cm; letter-spacing: 0.05cm; margin-top:0.4cm; margin-right: 1.6cm }
li.capsLock div.upper-part{ margin-right:2.3cm; margin-top: 0.3cm; line-height: 0.1cm; }

li.enter div { margin: 0.6cm 0cm 0cm 2cm; }
li.shift div { line-height: 0.5cm; margin-right:1.1cm; margin-top: 0.8cm; }
li.shift span { transform: scale(1.1, 0.8); }
li.right-shift div{ line-height: 0.5cm; margin-left:3cm; margin-top: 0.8cm; }
li.right-shift span { transform: scale(1.1, 0.8); }

ul.control-keys li div{ line-height: 0.72cm; height: 0.72cm; font-size: 0.38cm; }
ul.control-keys span{ transform: scale(0.8, 0.8);}

.control, .option, .commandL,.language {text-align: right; margin-right:0.1cm; margin-top: 0.1cm;}
.language {margin-right:0.2cm; text-align: right;}
li.lang :not(.language) {margin-right:0.3cm}
.commandR, .right-option {text-align: left; margin-left:0.1cm; margin-top: 0.1cm;}
ul.control-keys li div.arrow {line-height: 1cm; height:1cm; margin-top:0.4cm;}

ul.control-keys { position:relative;}
li.upArrow { position:absolute; left:24.1cm; line-height: 0.7cm; height:0.7cm;
border-radius: 0.15cm 0.15cm 0 0;
}
li.downArrow { position:absolute; left:24.1cm; top: 0.85cm; 
    border-radius: 0 0 0.15cm 0.15cm;
    line-height: 0.7cm; height:0.7cm; }
li.right { position:absolute; left:26cm;}