body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

inputm {

}
input [type="text"] {
    width: 20vh;
}

#vocaburary {
    transition: color 0.5s;
}


#practiceInput {
    color: blue; /* Color for the displayed input text */
}