body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* or any desired width */
    height: 100vh;
    margin: 0;
    color: #333;
    margin: 0px;
    padding: 0px;

    overflow-x: auto;
    /* Enable horizontal scrolling */

}


.body-container {
    margin: 20px 20px 20px 20px;
    border: #33333314 1px solid;
}




div.language-change-group {
    margin: 20px 0px 10px 0px;
}

p {
    margin: 8px 0 0 0;
}


.typing-practice-container {
    text-align: left;
}


#target-vocaburary, #german-vocaburary, #textDisplay, #vocaburary-hint{
    width: 150px;
    white-space: nowrap;
    font-size: 60px;
    height:60px;
    line-height: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 255, 0.399);
    text-align: left;
}
#german-vocaburary{
    font-family: "Roboto Mono", Courier;
    text-align: left;
}
#target-vocaburary {
    text-align: left;
}

#vocaburary-hint {
    font-size: 40px;
    text-align: left;
    vertical-align: baseline;
    font-family: "Roboto Mono", Courier;
}

#textDisplay {
    text-align: left;
    border: 1px solid rgba(137, 43, 226, 0.384);
    font-family: "Roboto Mono", Courier;

}
